<% cache [comment, current_user] do %>
  <%= div_for comment, class: 'media' do %>
    <%= link_to user_avatar(comment.user, :icon), comment.user, class: 'pull-left' %>
    <div class='media-body'>
      <%= link_to comment.user.name, comment.user, class: 'media-heading' %>
      <span><%= comment.content %></span>
      <div class='actions'>
        <%= timeago_tag(comment.created_at) %>
        <%= content_tag_for(:span, comment, :like) do %>
          <%= like_link_for(comment) %>
        <% end %>
        <%= content_tag_for(:span, comment, :likes_count) do %>
          <%= likes_count(comment) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
