<% cache [comment, current_user] do %>
  <%= div_for comment, class: 'media' do %>
    <%= link_to user_avatar(comment.user, :icon), comment.user, class: 'pull-left' %>
    <div class='media-body'>
      <%= link_to comment.user.name, comment.user, class: 'media-heading' %>
      <span><%= comment.content %></span>
      <div class='likes'>
        <%= like_link_for(comment) %>
        <%= likes_count(comment) %>
      </div>
    </div>
  <% end %>
<% end %>
