<div id='profile' class='clearfix'>
  <%= user_avatar(@user, :small) %>
  <h1><%= @user.name %></h1>
  <%= friend_request_button(@user) %>
</div>

<%= render @user_posts %>

<div class='text-center'>
  <%= paginate @user_posts %>
</div>
