<% cache [post, current_user] do %>
  <%= div_for post, class: 'panel panel-default clearfix' do %>
    <div class='panel-body media'>
      <div class='media-body'>
        <div class='media-heading clearfix'>
          <%= link_to user_avatar(post.user), post.user, class: 'pull-left' %>
          <%= link_to post.user.name, post.user %>
          <%= link_to timeago_tag(post.created_at), post %>
        </div>
      </div>
      <div class='post_content'>
        <%= render post.content %>
      </div>
      <div class='likes'>
        <%= content_tag_for(:span, post, :like) do %>
          <%= like_link_for(post) %>
        <% end %>
        <%= content_tag_for(:span, post, :likes_count) do %>
          <%= likes_count(post) %>
        <% end %>
      </div>
      <hr>
      <div class='comments'>
        <%= render post.comments %>
      </div>
      <%= render 'comments/form', commentable: post %>
    </div>
  <% end %>
<% end %>
