<%= div_for post, class: 'panel panel-default clearfix' do %>
  <div class="panel-body media">
    <%= link_to user_avatar(post.user), post.user, class: 'pull-left' %>
    <div class='media-body'>
      <%= link_to post.user.name, post.user, class: 'media-heading' %>
      <%= render post.content %>
      <%= content_tag :div, class: 'likes' do %>
        <%= like_link_for(post) %>
        <%= likes_count(post) %>
      <% end %>
    </div>
    <hr>
    <div class='comments'>
      <%= render post.comments %>
      <%= render 'comments/form', commentable: post %>
    </div>
  </div>
<% end %>
